/* Alert */
.alert {
  text-shadow: none;
  box-shadow: none;
  visibility: visible;
  opacity: 1;
  margin: 0;
  padding: 0;
  border: 0px none;
}
.alert.active {
  visibility: visible;
  opacity: 1;
}
.alert:hover {
  outline: 0px none;
}
.alert .close {
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial, sans-serif;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.alert .close:hover {
  color: #54bcd9;
  text-shadow: 0 1px 0 #54bcd9;
  opacity: 1;
}
.alert p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  padding-right: 20px;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1;
  text-align: left;
  word-break: break-word;
}
.alert p.disabled {
  padding-right: 0;
}
