/* Alert */
.alertModal {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: initial;
  right: initial;
  transform: translate(-50%, -50%);
  transition: none;
}
.alert {
  text-shadow: none;
  box-shadow: none;
  visibility: visible;
  opacity: 1;
  margin: 0;
  padding: 0;
  border: 0px none;
}
.alert.active {
  visibility: visible;
  opacity: 1;
}
.alert:hover {
  outline: 0px none;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.alert .close {
  position: absolute;
  right: 15px;
  top: 15.5px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial, sans-serif;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.alert .close:hover {
  color: #54bcd9;
  text-shadow: 0 1px 0 #54bcd9;
  opacity: 1;
}
.alert p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  padding-right: 20px;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: left;
  word-break: break-word;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.alertModal .alert p {
  padding-right: 50px;
}
.alert p.disabled {
  padding-right: 0;
}

.mixinModal h4 {
  text-transform: initial;
  margin: 0 0 5px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.mixinModal p {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
  padding-right: 25px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.mixinModal label {
  font-size: 21px;
}
.mixinModal form {
  text-align: center;
  margin-bottom: 25px;
}
.mixinModal .cancel {
  background-color: rgba(221, 18, 99, 0.4);
  border: 2px solid #ff004e;
  margin: 0 5px 0 0;
  font-size: 15px;
  padding: 3px 12px 5px;
}
.mixinModal .cancel:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}
.mixinModal .submit {
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.45);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  top: -0.8px;
  border: 2px solid #54bcd9;
  padding: 3px 12px 5px;
  margin: 0 0 0 5px;
}
.mixinModal textarea {
  padding: 4px 10px 5px;
  border-radius: 0px;
  text-align: left;
  border: 1px solid #8ffdfd;
  font-size: 18px;
}
.mixinModal input {
  padding: 5px 10px 5px;
  border-bottom: 1px solid #8ffdfd;
  font-size: 20px;
  border-radius: 0px;
  text-align: center;
}
.mixinModal select {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  width: 100%;
  background: transparent;
  margin: 10px 0 15px;
  text-align-last: center;
  border: 1px solid #8ffdfd;
  font-size: 20px;
  height: 36px;
}
.mixinModal select:hover {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.mixinModal select:focus,
.mixinModal select:active {
  outline: none;
}
.mixinModal select option {
  color: #000;
}
