/* Options Screen */
.intro-page-wrap {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.options-wrap {
  position: relative;
  padding: 10px 0 0;
  height: 587px;
  display: flex;
  align-items: center;
}
.options-wrap.option-wrap-hidden {
  padding: 0;
}
.options-wrap .options-inner {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.options-wrap .options-inner .item {
  background: url(../images/option-item-bg.png) repeat-x top left;
  background-size: 100% 100%;
  width: calc(25% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 5px solid transparent;
  overflow: hidden;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.options-wrap .options-inner:hover .item {
  opacity: 0.55;
}
.options-wrap .options-inner:hover .item:hover {
  opacity: 1;
}
.options-wrap .item:hover {
  cursor: pointer;
  border-bottom: 5px solid #8ffdfd;
}
.options-wrap .item:hover img {
  transform: translate(0, -5px);
}
.options-wrap .item img {
  width: 100%;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.options-wrap .item h3 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 20px;
}
.options-wrap .options-inner .item.disabled img {
  filter: grayscale(70%);
  -webkit-filter: grayscale(70%);
  opacity: 0.9;
}

.page-wrap {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .options-wrap,
  .intro-page-wrap  {
    max-width: 1024px;
    margin: 0 auto;
  }
}
