/* Options Screen */
.options-wrap {
  position: relative;
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
.options-wrap.option-wrap-hidden {
  padding: 0;
} 
.options-wrap .options-inner {
  height: 100%;
  height: 577px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.options-wrap .options-inner .item {
  background: url(../images/option-item-bg.png) repeat-x top left;
  background-size: 100% 100%;
  width: calc(25% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 5px solid transparent;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.options-wrap .options-inner:hover .item {
  opacity: 0.55;
}
.options-wrap .options-inner:hover .item:hover {
  opacity: 1;
}
.options-wrap .item:hover {
  cursor: pointer;
  border-bottom: 5px solid #8ffdfd;
}
.options-wrap .item:hover img {
  transform: translate(0, -5px);
}
.options-wrap .item img {
  width: 100%;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.options-wrap .item h3 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 20px;
  white-space: nowrap;
}
.options-wrap .options-inner .item.disabled img {
  filter: grayscale(70%);
  -webkit-filter: grayscale(70%);
  opacity: 0.9;
}
.close-app-btn {
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  font-size: 18px;
  padding: 2px 9px 1px;
  border: 1px solid #8ffdfd;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial, sans-serif;
  z-index: 2;
}
#version {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 18px;
  margin: 0px;
}

.page-wrap {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .options-wrap {
    max-width: 1024px;
    margin: 0 auto;
  }
}
