/* Create New */
.item-wrap {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-wrap .item-inner {
  display: block;
  position: relative;
  height: 577px;
}
.item-pic {
  position: absolute;
  bottom: -10px;
  right: 30px;
  width: 210px;
}
.create-new-wrap .item-pic {
  right: 17px;
}
.item-wrap .close-app-btn {
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  font-size: 18px;
  padding: 2px 9px 1px;
  border: 1px solid #8ffdfd;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial, sans-serif;
  z-index: 2;
}
.item-wrap h2 {
  color: #fff;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 30px;
}
.item-wrap .login-wrap {
  padding: 0;
}
.item-wrap .login-wrap form {
  padding: 0px;
}
.item-wrap .login-wrap .group-wrap {
  background: rgba(143, 253, 253, 0.09);
  padding: 10px;
}
.item-wrap .login-wrap .form-group {
  background: url(../images/login-bg.png) no-repeat top left / cover;
  margin-bottom: 0;
  padding: 30px 20px 50px;
}
.item-wrap .login-wrap .input-group {
  width: 100%;
}
.item-wrap .login-wrap label {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}
.item-wrap .login-wrap form input {
  width: 100%;
  background: transparent;
  text-align: center;
  border: 0px none;
  color: #fff;
  font-size: 20px;
  padding: 4px 0px 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #8ffdfd;
}
.item-wrap .login-wrap form textarea {
  width: 100%;
  background: transparent;
  text-align: center;
  border: 0px none;
  color: #fff;
  font-size: 20px;
  padding: 4px 0px 5px;
  border-bottom: 1px solid #8ffdfd;
}
.item-wrap .login-wrap form input::-webkit-input-placeholder,
.item-wrap .login-wrap form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 1;
  color: #fff;
  font-size: 30px;
}
.item-wrap .login-wrap form input::-moz-placeholder,
.item-wrap .login-wrap form textarea::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #fff;
  font-size: 30px;
}
.item-wrap .login-wrap form input:-moz-placeholder,
.item-wrap .login-wrap form textarea:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #fff;
  font-size: 30px;
}
.item-wrap .login-wrap form input:-ms-input-placeholder,
.item-wrap .login-wrap form textarea:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1;
  color: #fff;
  font-size: 30px;
}
.item-wrap .login-wrap .btn {
  width: 100%;
  font-size: 30px;
  background: rgba(143, 253, 253, 0.62);
  color: #fff;
  text-transform: uppercase;
  border: 0px;
  border-bottom: 5px solid #8ffdfd;
  border-radius: 0px;
  margin-top: 5px;
}
.item-wrap .login-wrap .btn:focus,
.item-wrap .login-wrap .btn:active {
  outline: none;
}
.go-back-btn {
  position: absolute;
  top: -12px;
  left: -10px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0px 25px 1px;
  border: 0px none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  border-radius: 0px;
}

@media (min-width: 1024px) {
  .item-wrap {
    max-width: 1024px;
    margin: 0 auto;
  }
}
