/* Create From Keys */
.create-from-keys-wrap .login-wrap form input {
  margin: 0 0 10px;
}
.create-from-keys-wrap .item-pic {
  right: 17px;
}
.create-from-keys-wrap .login-wrap form input:last-of-type {
  margin-bottom: 0;
}
.create-from-keys-wrap .login-wrap .form-group {
  padding: 40px 20px 50px;
}
.create-from-keys-wrap .login-wrap .input-group {
  background: url(../images/login-bg.png) no-repeat top left / cover;
  width: 100%;
  padding: 50px 20px;
}

@media (min-width: 1024px) {
  .create-from-keys-wrap {
    max-width: 1024px;
    margin: 0 auto;
  }
}
