/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
}
header .logo {
  width: 134px;
  margin-right: 4px;
}
.go-back-btn {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
  padding: 2px 29px;
  border: 0px none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px
}
.go-back-btn:hover {
  cursor: pointer;
}
#buttons-wrap {
  position: absolute;
  right: 10px;
  top: 10px;
}
#buttons-wrap button {
  text-align: center;
  background: url(../images/login-bg.png) no-repeat top left / cover;
  border: 2px solid #54bcd9;
  padding: 7px 13px 8px 12px;
  margin-left: 10px;
  float: left;
  display: flex;
  width: 48px;
  justify-content: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
#buttons-wrap button img {
  max-height: 18px;
}

@media (min-width: 1300px) {
  header {
    width: 1183px;
    left: 50%;
    /* margin-left: -581.5px; */
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  #buttons-wrap {
    right: 0px;
  }
}
