/* Modal */
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10001;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
}
.modal {
  background: rgba(0, 0, 0, 0.7);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  border: 1px solid #327a9b;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 15px;
  width: calc(100% - 40px);
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  text-align: center;
  display: table;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100002;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal:hover {
  outline: 0px none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  border: 1px solid #00e7ff;
}
.modal button {
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.45);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  border: 2px solid #54bcd9;
  padding: 6px 12px 5px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.modal h3 {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  font-size: 20px;
  letter-spacing: 0.8px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: center;
}
.modal button:hover {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.modal button:active {
  box-shadow: none !important;
}
.modal .browse-btn {
  float: left;
  margin: 0 0 10px;
}
.modal .form-group {
  margin-bottom: 0;
  margin-top: 5px;
}
.modal label {
  width: 100%;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-bottom: 5px;
}
.modal textarea {
  text-align: left;
  display: inline-block;
  border: 0px none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  font-size: 14px;
  background: url(../images/input-bg.png) repeat-y top left;
  background-size: 100% 100%;
  color: #fff;
  width: 100%;
  max-height: 90px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  resize: none;
}
.modal textarea:hover,
.modal textarea:active,
.modal textarea:focus,
.modal input:hover,
.modal input:active,
.modal input:focus {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.modal textarea::-webkit-input-placeholder,
.modal input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 1;
  color: #fff;
  font-size: 20px !important;
  text-align: left;
}
.modal textarea::-moz-placeholder,
.modal input::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #fff;
  font-size: 20px !important;
  text-align: left;
}
.modal textarea:-moz-placeholder,
.modal input:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #fff;
  font-size: 20px !important;
  text-align: left;
}
.modal textarea:-ms-input-placeholder,
.modal input:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1;
  color: #fff;
  font-size: 20px !important;
  text-align: left;
}
.modal input {
  display: inline-block;
  border: 0px none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 0 8px;
  font-size: 14px;
  background: url(../images/input-bg.png) repeat-y top left;
  background-size: 100% 100%;
  color: #fff;
  width: 100%;
  max-height: 90px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.modal input.yellow-field {
  background: rgba(221, 201, 144, 0.6);
  border: 2px solid rgba(221, 201, 144, 0.8);
}
.modal input.yellow-field:hover,
.modal input.yellow-field:focus {
  box-shadow: 0 0 25px 0 rgba(255, 214, 22, 0.8) !important;
}
.modal input.green-field {
  background: rgba(14, 200, 193, 0.65);
  border: 2px solid rgba(14, 200, 193, 0.95);
}
.modal input.green-field:hover,
.modal input.green-field:active {
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, 0.5) !important;
}
.modal .close {
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial, sans-serif;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.modal .close:hover {
  color: #54bcd9;
  text-shadow: 0 1px 0 #54bcd9;
  opacity: 1;
}
.modal .warning {
  color: #c80e4b;
  text-align: left;
}
.modal .warning.red {
  color: #c80e4b;
}
.modal .warning.green {
  color: #0ec8c1;
  text-transform: initial;
}
.modal .spendview {
  display: none;
}
.modal .spendview.active {
  display: block;
}
.modal .cancel-btn {
  background-color: rgba(221, 18, 99, 0.4);
  border: 2px solid #ff004e;
  margin: 0 7.5px 0 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.modal .cancel-btn:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}
.modal .confirm-btn {
  margin: 0 0 0 7.5px;
}
.modal .save-btn {
  background: rgba(200, 14, 75, 0.5);
  border: 2px solid #c80e4b;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.modal .save-btn:hover {
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}
.modal .save-btn.green {
  background: rgba(14, 200, 193, 1);
  border: 2px solid #0ec8c1;
  margin-right: 0;
}
.modal .save-btn.green:hover {
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, 0.5) !important;
}
.modal .copy-btn {
  margin-top: 0;
  font-size: 11.5px;
  padding: 7px 12px 4px;
}
.modal .save-btn {
  margin-top: 5px;
  font-size: 11.5px;
  padding: 7px 12px 4px;
}
.modal h3 {
  margin: 0 0 15px;
  font-size: 20px;
  text-transform: initial;
}
.modal h5 {
  margin-top: 0;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}
.modal p {
  font-size: 13px;
  text-transform: initial;
  margin-bottom: 0;
  text-align: center;
}

.exitModal {
  width: 500px;
}

.sendModal {
  min-height: 301px;
}
.sendModal textarea,
.sendModal input {
  padding: 4px 10px 5px !important;
  border-radius: 0px;
  text-align: left !important;
}
