/* Modal */
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background: rgba(15, 29, 54, .97); */
  background: url(../images/bg.png) no-repeat scroll top left / cover;
  z-index: 10003;
  opacity: 0;
  visibility: hidden;
  overflow: initial;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.dark .backdrop {
  background: url(../images/sky-bg.png) no-repeat scroll top left / cover;
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
}
.modal {
  /* background: url(../images/login-bg.png) no-repeat top left / cover; */
  /* background: rgba(0, 0, 0, .65); */
  background: rgba(15, 29, 54, 0.8);
  border: 1px solid #54bcd9;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 15px;
  max-width: 820px;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  display: table;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100004;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.dark .modal {
  background: rgba(0, 0, 0, 0.6);
}
.modal-50 {
  width: 50%;
}
.modal-55 {
  width: 55%;
}
.modal-60 {
  width: 60%;
}
.modal-70 {
  width: 70%;
}
.modal-80 {
  width: 80%;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal:hover {
  outline: 0px none;
}
.remove_transition {
  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.modal button {
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.3);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  border: 2px solid #54bcd9;
  padding: 5px 12px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.modal h3 {
  width: initial;
  display: inline-block;
  background: transparent;
  border: 0px none;
  margin-right: 0;
  font-size: 24px;
  letter-spacing: 0.8px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1;
  text-align: center;
}
.modal h6 {
  margin: 10px 0 25px;
  font-size: 18px;
  text-transform: initial;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.modal h6 span {
  color: #54bcd9;
}
.modal button:hover {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.modal button:active {
  box-shadow: none !important;
}
.modal .browse-btn {
  float: left;
  margin: 0 0 10px;
}
.modal .form-group {
  margin-bottom: 0;
  margin-top: 5px;
}
.modal .label-wrap {
  text-align: center;
  position: relative;
  margin-bottom: 3px;
}
.modal label {
  width: 100%;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0 0;
  position: relative;
  z-index: 2;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.modal label .question-wrap {
  position: absolute;
  top: -10px;
  right: 0;
  width: 32px;
  height: 32px;
  border: 1px solid #8ffdfd;
  border-radius: 50%;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.modal label .question-wrap:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.6);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.6);
  cursor: pointer;
}
.modal #mixin-label {
  margin: 0 0 15px;
  z-index: initial;
}
.modal label #mixin-question-wrap {
  top: -10px;
}
.modal label .question-wrap span {
  position: relative;
  top: -7px;
  left: -0.5px;
  font-size: 19px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  font-family: "Atrament", Helvetica, Arial, sans-serif;
}
.modal .label-wrap .question-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border: 1px solid #8ffdfd;
  border-radius: 50%;
  text-align: center;
  z-index: 3;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.modal .label-wrap .question-wrap:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.6);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.6);
  cursor: pointer;
}
.modal .label-wrap .question-wrap span {
  position: relative;
  top: -7px;
  font-size: 19px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.modal label button {
  position: absolute;
  right: 0;
  padding: 5px 12px;
}
.modal textarea {
  text-align: left;
  display: inline-block;
  border: 0px none;
  border-radius: 5px;
  padding: 5px 10px 5px 0 !important;
  margin: 0;
  font-size: 14px;
  background: url(../images/input-bg.png) repeat-y top left;
  background-size: 100% 100%;
  color: #fff !important;
  width: 100%;
  max-height: 90px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  resize: none;
}
.modal textarea::-webkit-input-placeholder,
.modal input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px !important;
  letter-spacing: 0.3px;
  text-align: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  word-break: break-all;
}
.modal textarea::-moz-placeholder,
.modal input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px !important;
  letter-spacing: 0.3px;
  text-align: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.modal textarea:-moz-placeholder,
.modal input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px !important;
  letter-spacing: 0.3px;
  text-align: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.modal textarea:-ms-input-placeholder,
.modal input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px !important;
  letter-spacing: 0.3px;
  text-align: left;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.modal input {
  display: inline-block;
  border: 0px none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 0 7px !important;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff !important;
  width: 100%;
  max-height: 90px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.modal input.yellow-field {
  background: rgba(221, 201, 144, 0.6);
  border: 2px solid rgba(221, 201, 144, 0.8);
}
.modal input.yellow-field:hover,
.modal input.yellow-field:focus {
  box-shadow: 0 0 25px 0 rgba(255, 214, 22, 0.8) !important;
}
.modal input.green-field {
  background: rgba(14, 200, 193, 0.65);
  border: 2px solid rgba(14, 200, 193, 0.95);
}
.modal input.green-field:hover,
.modal input.green-field:active {
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, 0.5) !important;
}
.modal .close {
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  z-index: 3;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial, sans-serif;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.modal .close:hover {
  color: #54bcd9;
  text-shadow: 0 1px 0 #54bcd9;
  opacity: 1;
}
.modal .warning {
  color: #c80e4b;
  text-align: left;
}
.modal .warning.red {
  color: #c80e4b;
}
.modal .warning.green {
  color: #0ec8c1;
  text-transform: initial;
}
.modal .spendview {
  display: none;
}
.modal .spendview.active {
  display: block;
}
.modal .cancel-btn {
  background-color: rgba(221, 18, 99, 0.4);
  border: 2px solid #ff004e;
  margin: 0 5px 0 0;
  padding: 5px 12px;
  font-size: 19px;
  font-size: 14px;
  padding: 7px 12px 6px;
  letter-spacing: 0.3px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.modal .cancel-btn:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}
.modal .cancel-btn:active,
.modal .cancel-btn:focus {
  outline: none;
  color: #fff;
}
.modal .confirm-btn {
  background: url(../images/login-bg.png) no-repeat top left / cover;
  margin: 0 0 0 5px;
  font-size: 14px;
  padding: 7px 12px 6px;
  letter-spacing: 0.3px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.modal .confirm-btn:active,
.modal .confirm-btn:focus {
  outline: none;
  color: #fff;
}
.modal .save-btn {
  background: rgba(200, 14, 75, 0.5);
  border: 2px solid #c80e4b;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.modal .save-btn:hover {
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}
.modal .save-btn.green {
  background: rgba(14, 200, 193, 1);
  border: 2px solid #0ec8c1;
  margin-right: 0;
}
.modal .save-btn.green:hover {
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, 0.5) !important;
}
.modal .save-btn {
  margin-top: 5px;
  font-size: 11.5px;
  padding: 7px 12px 4px;
}
.modal h3 {
  margin: 0 0 20px;
  font-size: 18px;
  text-transform: initial;
  font-family: "Atrament", Helvetica, Arial, sans-serif;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
}
.modal h5 {
  margin-top: 0;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}
.modal p {
  font-size: 13px;
  text-transform: initial;
  margin-bottom: 0;
  text-align: center;
}

.exitModal {
  width: 500px;
  z-index: 100007;
}
.exitBackdrop {
  z-index: 100006;
}

.sendModal {
  z-index: 10002;
  width: 100% !important;
  border: 0px;
  max-height: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 0px;
}
.sendModal:hover {
  border: 0px;
}
.sendModal .sendModalInner {
  width: 100%;
}
.sendModal h4 {
  text-transform: initial;
  margin: 0 0 5px;
  color: rgba(255, 0, 78, 0.75);
  letter-spacing: 0.5px;
}
.sendModal form {
  margin: 0 auto;
  width: 85%;
}
.sendModal label {
  bottom: -12px;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  display: inline-block;
  z-index: 4;
}
.sendModal textarea {
  padding: 4px 10px 5px;
  border-radius: 0px;
  text-align: left;
  border-bottom: 1px solid #8ffdfd;
  font-size: 18px;
  letter-spacing: -0.3px;
  margin-bottom: 0px !important;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.sendModal input {
  padding: 10px 60px 5px 0;
  border-bottom: 1px solid #8ffdfd;
  font-size: 18px;
  border-radius: 0px;
  background: transparent;
  letter-spacing: -0.3px;
  margin-bottom: 27px !important;
  line-height: 1;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.sendModal select {
  background: rgba(15, 29, 54, 0.8) url(../images/select-bg.png) no-repeat top
    10px right 3px / contain;
  background-size: 10px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  width: 44%;
  left: 39%;
  text-align-last: center;
  border: 0px none;
  border-radius: 0px !important;
  border-bottom: 1px solid #8ffdfd;
  display: inline-block;
  font-size: 18px;
  position: absolute;
  height: 36px;
  z-index: 2;
  margin: 3px 0 0;
  padding: 0 10px;
  color: #fff;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
.dark .sendModal select {
  background: rgba(0, 0, 0, 0.6) url(../images/select-bg.png) no-repeat top 10px
    right 3px / contain;
  background-size: 10px;
}
.sendModal select:active,
.sendModal select:focus {
  outline: 0px none;
}
.sendModal .btn {
  background: url(../images/login-bg.png) no-repeat top left / cover;
  margin: -5px auto 9px;
  padding: 7px 15px 4.5px;
  letter-spacing: 0.3px;
  line-height: 1.2;
  font-size: 15px !important;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  width: 76px;
}
.sendModal #advanced-btn {
  text-align: center;
  background: url(../images/login-bg.png) no-repeat top left / cover;
  border: 2px solid #54bcd9;
  padding: 7px 13px 8px 12px;
  margin-top: -40px;
  margin-right: 0;
  margin-bottom: 20px;
  display: flex;
  width: 48px;
  justify-content: center;
}
.sendModal #advanced-btn img {
  max-height: 18px;
}
.sendModal .btn[disabled] {
  pointer-events: none;
}
.sendModal .btn:focus,
.sendModal .btn:active {
  outline: none;
  color: #fff;
}
.sendModal .available-wrap {
  position: absolute;
  left: 75px;
  top: 18px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.sendModal .available-wrap span {
  text-transform: capitalize;
  line-height: 1.2;
  font-size: 17px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.sendModalBackdrop {
  z-index: 10001;
}
.sendModal input[type="number"]::-webkit-inner-spin-button,
.sendModal input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.loadingModal {
  padding: 10px 0;
}
.loadingModal h3 {
  margin: 0;
  line-height: 1.2;
}
.loadingModal label {
  text-transform: initial;
  font-size: 19px;
  margin: 0 0 10px;
  letter-spacing: 0px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.loadingModal input {
  margin: 0 0 15px !important;
  font-size: 22px;
  padding: 1px 0px;
  background: none;
  border-radius: 0;
  border-bottom: 1px solid #54bcd9;
}
.loadingModal p {
  font-size: 20px;
}
.loadingModal button {
  margin: 0 0 0 5px;
}

.keysModal {
  text-align: center;
}
.keysModal label {
  text-transform: initial !important;
  display: inline-block;
  line-height: 1;
  margin: 5px 0 0;
}
.keysModal input,
.keysModal textarea {
  font-size: 16px;
  padding: 7px 5px 3px !important;
  border-bottom: 1px solid #8ffdfd;
  border-radius: 0;
  text-align: center;
  line-height: 1.2;
  background: transparent;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  margin: 0 0 5px !important;
}
.keysModal .pass-input {
  border-radius: 5px;
  text-align: left !important;
  padding: 5px 10px !important;
  background: tra;
}
.keysModal .login-input {
  margin: 10px 0 12px !important;
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 0px;
}
.keysModal .button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.keysModal .copy-btn {
  background: url(../images/login-bg.png) no-repeat top left / cover;
  padding: 5px 9px 4px;
  position: absolute;
  z-index: 2;
  top: 3px;
  right: 0;
  font-size: 12px;
  letter-spacing: 0.3px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.keysModal .button-wrap p {
  text-align: left;
  font-size: 16px;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 0px;
  line-height: 1.2;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  width: calc(100% - 75px);
}
.keysModal .rescan {
  background: url(../images/login-bg.png) no-repeat top left / cover;
  text-align: center;
  border: 2px solid #54bcd9;
  padding: 6px 10px 6px;
  display: flex;
  font-size: 13px;
  letter-spacing: 0.3px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.keysModal .rescan img {
  max-height: 18px;
}
.keysModal .address-inner-wrap .label-wrap label {
  text-indent: 52px;
  display: inline;
}

.ringSizeModal .pass-input {
  border-radius: 5px;
  border: 1px solid #327a9b;
  text-align: left;
  padding: 5px 10px;
}
.ringSizeModal .ring-size-wrap .pass-input {
  text-align: center;
  font-size: 18px;
}

.historyModal {
  height: 450px;
}
.historyModal h3 {
  margin-bottom: 35px;
}
.historyModal #history-wrap {
  overflow: auto;
  height: 400px;
  letter-spacing: -0.3px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.historyModal #pagination,
.addressModal #pagination {
  position: absolute;
  bottom: 22px;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.historyModal #pagination strong,
.addressModal #pagination strong {
  margin: 0 10px;
  position: relative;
  top: 4px;
  min-width: 110px;
  display: inline-block;
  text-transform: capitalize;
}
.historyModal #pagination button,
.addressModal #pagination button {
  background: url(../images/login-bg.png) no-repeat top left / cover;
  padding: 6px 12px 5px;
  visibility: visible;
  opacity: 1;
  height: 30px;
}
.historyModal #pagination button.first-page,
.addressModal #pagination button.first-page {
  margin-right: 8px;
  padding: 5.5px 12px;
}
.historyModal #pagination button.first-page span,
.historyModal #pagination button.last-page span,
.addressModal #pagination button.first-page span,
.addressModal #pagination button.last-page span {
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 1px;
  font-family: "Atrament", Helvetica, Arial, sans-serif;
  position: relative;
  top: -7px;
}
.historyModal #pagination button.last-page,
.addressModal #pagination button.last-page {
  margin-left: 8px;
  padding: 5.5px 12px;
}
.historyModal #history-wrap .history-item {
  margin-bottom: 35px;
  border-bottom: 1px solid #8ffdfd;
}
.historyModal #history-wrap .history-item .item-section {
  padding: 0;
}
.historyModal #history-wrap .history-item p {
  font-size: 17px;
  margin-bottom: 8px;
}
.historyModal #history-wrap .history-item p span {
  position: relative;
  top: 2px;
}
.historyModal #history-wrap .history-item p .blue-text {
  padding: 0 !important;
}
.historyModal #history-wrap .history-item .amount {
  display: inline-block;
  margin-bottom: 8px;
}
.historyModal #history-wrap .history-item .arrow-img {
  max-height: 18px;
  margin-right: 10px;
}
.historyModal #history-wrap .history-item .green-text {
  color: rgba(14, 200, 193, 1);
}
.historyModal #history-wrap .history-item .yellow-text {
  color: #e9d70b;
}
.historyModal #history-wrap .history-item .tx-id-wrap {
  display: flex;
  justify-content: center;
}
.historyModal #history-wrap .history-item .tx-id-wrap span {
  display: inline-block;
  text-transform: initial;
  text-align: left;
  padding: 0 15px;
}
.historyModal #history-wrap .history-item .tx-id {
  background: transparent;
  border: none;
  text-transform: initial;
  font-size: 16px;
  padding: 0;
  display: inline-block;
  letter-spacing: 0;
  margin-bottom: 0;
  color: #54bcd9;
  width: calc(100% - 200px);
  text-align: left;
  white-space: nowrap;
}
.historyModal #history-wrap .history-item .tx-id:hover {
  box-shadow: none !important;
}
.historyModal .question-wrap {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 32px;
  height: 32px;
  border: 1px solid #8ffdfd;
  border-radius: 50%;
  text-align: center;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.keysModal .question-wrap {
  top: 3px !important;
}
.historyModal .question-wrap span,
.keysModal .question-wrap span {
  position: relative;
  top: -6px;
  left: -0.5px;
  font-size: 18px;
  color: #fff;
}

.addressModal {
  height: 420px;
}
.addressModal #show-contacts {
  text-align: center;
  background: url(../images/login-bg.png) no-repeat top left / cover;
  border: 2px solid #54bcd9;
  padding: 7px 13px 8px 14px;
  display: flex;
  width: 48px;
  position: absolute;
  left: 15px;
  top: 15px;
  justify-content: center;
}
.addressModal #show-contacts img {
  max-height: 18px;
}
.addressModal label .question-wrap {
  top: 0px;
}
.addressModal label {
  bottom: -21px;
  right: 0;
}
.addressModal #genPayIdWrap {
  position: relative;
  margin: 0 0 10px;
}
.addressModal #genPayIdWrap #genPayId {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}
.addressModal form {
  margin: 45px auto 0;
  width: 85%;
}
.addressModal input,
.addressModal textarea {
  font-size: 16px;
  padding: 13px 60px 10px 0;
  border-bottom: 1px solid #8ffdfd;
  border-radius: 0;
  text-align: left;
  background: transparent;
  margin-bottom: 25px !important;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.addressModal .btn {
  background: url(../images/login-bg.png) no-repeat top left / cover;
  margin: 14px 0 0;
  padding: 8px 15px 4px;
  letter-spacing: 0.3px;
  line-height: 1.2;
  font-size: 15px !important;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.addressModal .btn:focus,
.addressModal .btn:active {
  outline: none;
  color: #fff;
}
.addressModal .show-contacts-wrap {
  margin-top: 35px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.addressModal .show-contacts-wrap .contact-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 1px solid #8ffdfd;
}
.addressModal .show-contacts-wrap .contact-item p {
  text-align: left;
  font-size: 16px;
}
.addressModal .show-contacts-wrap .contact-item .address {
  word-break: break-all;
  text-align: left;
  margin-bottom: 8px;
}
.addressModal .show-contacts-wrap .contact-item .payment-id {
  font-size: 15px;
}
.addressModal .show-contacts-wrap .contact-item .contact-left {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}
.addressModal .show-contacts-wrap .contact-item .contact-left .name {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  min-height: 52px;
  font-size: 19px;
  text-align: left;
  word-break: break-word;
}
.addressModal .show-contacts-wrap .contact-item .contact-center {
  width: calc(100% - 280px);
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.addressModal .show-contacts-wrap .contact-item .contact-center .payment-id {
  font-size: 14px;
}
.addressModal .show-contacts-wrap .contact-item .contact-right {
  width: 110px;
  min-width: 110px;
  max-width: 110px;
}
.addressModal .show-contacts-wrap .contact-item .contact-right button {
  background: url(../images/login-bg.png) no-repeat top left / cover;
  padding: 4px 8px 6px;
  visibility: visible;
  opacity: 1;
  height: 32px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: calc(50% - 5px);
  max-width: 52px;
  display: inline-block;
}
.addressModal .show-contacts-wrap .contact-item .contact-right button:hover {
  cursor: pointer;
}
.addressModal .show-contacts-wrap .contact-item .contact-right button img {
  max-height: 18px;
}

.confirmModal .mainAlertPopupInner p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  padding-right: 20px;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: left;
  word-break: break-word;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.deleteModal p,
.feeModal p {
  text-transform: initial;
  font-size: 19px;
  margin-bottom: 10px;
  letter-spacing: 0px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.feeModal form {
  margin: 20px 0 25px;
}
.feeModal h6 {
  text-transform: initial;
  font-size: 15px;
  margin-bottom: 8px;
  letter-spacing: 0px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  margin: 20px 0 0;
  text-align: center;
  padding: 0 30px;
}
.feeModal .btn[disabled] {
  pointer-events: none;
  opacity: 0.65;
}
