/* Open File */
.open-file-wrap .create-new-pic {
  bottom: 10px;
  right: 37px;
}
.open-file-wrap .login-wrap form input {
  margin: 0 0 10px;
}
.open-file-wrap .login-wrap form input:last-of-type {
  margin-bottom: 0;
}
.open-file-wrap .login-wrap .browse-btn {
  width: 100%;
  font-size: 30px;
  background: rgba(143, 253, 253, 0.62);
  color: #fff;
  text-transform: uppercase;
  border: 0px;
  border-radius: 0px;
  margin: 0 0 5px;
  border-bottom: 5px solid #8ffdfd;
}

/* Wallet File Wrap */
.open-file-wrap .wallet-file-wrap {
  background: url(../images/login-bg.png) no-repeat top left / cover;
  padding: 40px 20px 20px;
}
.open-file-wrap .wallet-file-wrap .btn-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.open-file-wrap .wallet-file-wrap .refresh {
  text-align: center;
  background: rgba(143, 253, 253, 0.62);
  border: 0px none;
  padding: 4px 12px 7px;
  border-radius: 0px;
  float: right;
}
.open-file-wrap .wallet-file-wrap .refresh img {
  max-height: 18px;
}
.open-file-wrap .wallet-file-wrap .signal {
  border: 0px none;
  padding: 0;
  background: transparent;
  margin-left: 10px;
}
.open-file-wrap .wallet-file-wrap .signal:hover {
  box-shadow: none !important;
  cursor: initial;
}
.open-file-wrap .wallet-file-wrap .signal img {
  -webkit-filter: invert(0.2);
  filter: invert(0.2);
  max-height: 23px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.open-file-wrap .wallet-file-wrap .signal.connected img {
  -webkit-filter: none;
  filter: none;
}
.open-file-wrap .wallet-file-wrap .signal p {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 19px;
  position: relative;
  top: 4px;
  color: #fff;
}
.open-file-wrap .wallet-file-wrap .blockheight {
  border: 0px none;
  padding: 0;
  margin-left: 10px;
  min-width: 75px;
  text-align: left;
  background: transparent;
}
.open-file-wrap .wallet-file-wrap .blockheight:hover {
  box-shadow: none !important;
  cursor: initial;
}
.open-file-wrap .wallet-file-wrap .blockheight img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  margin-right: 8px;
  max-height: 22px;
}
.open-file-wrap .wallet-file-wrap .blockheight span {
  letter-spacing: 0px;
  color: #fff;
  font-size: 19px;
  position: relative;
  top: 4px;
}
.open-file-wrap .wallet-file-wrap .blockheight:hover span {
  color: #fff;
}
.open-file-wrap .wallet-file-wrap .group-wrap {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0;
}
.open-file-wrap .wallet-file-wrap .group {
  width: calc(50% - 10px);
}
.open-file-wrap .wallet-file-wrap .group input:last-of-type {
  margin-bottom: 5px;
}
.open-file-wrap .wallet-file-wrap .group label,
.open-file-wrap .wallet-file-wrap .group input {
  color: rgba(255, 255, 255, 1);
}
.open-file-wrap .wallet-file-wrap label {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
}
.open-file-wrap .wallet-file-wrap .open-file-btn {
  width: auto;
  background: rgba(143, 253, 253, 0.62);
  color: #fff;
  text-transform: uppercase;
  border: 0px;
  border-radius: 0px;
  font-size: 16px;
  padding: 4px 15px 5px;
  position: relative;
  top: 0;
  left: 0;
}
.open-file-wrap .wallet-file-wrap input {
  width: 100%;
  background: transparent;
  text-align: center;
  border: 0px none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  padding: 2px 0px 3px;
  border-bottom: 1px solid #8ffdfd;
  margin-bottom: 10px;
}
.open-file-wrap .wallet-file-wrap input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 1;
  color: #fff;
  font-size: 30px;
}
.open-file-wrap .wallet-file-wrap input::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #fff;
  font-size: 30px;
}
.open-file-wrap .wallet-file-wrap input:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #fff;
  font-size: 30px;
}
.open-file-wrap .wallet-file-wrap input:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1;
  color: #fff;
  font-size: 30px;
}
.open-file-wrap .login-wrap .btn {
  font-size: 25px;
  padding: 6px 12px 4px;
  margin-top: 5px;
}