@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Light";
  src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url("../fonts/BrandonGrotesque-Regular.eot");
  src: url("../fonts/BrandonGrotesque-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BrandonGrotesque-Regular.woff") format("woff"),
    url("../fonts/BrandonGrotesque-Regular.ttf") format("truetype"),
    url("../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Brandon Grotesque Bold";
  src: url("../fonts/BrandonGrotesque-Bold.eot");
  src: url("../fonts/BrandonGrotesque-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BrandonGrotesque-Bold.woff") format("woff"),
    url("../fonts/BrandonGrotesque-Bold.ttf") format("truetype"),
    url("../fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Atrament";
  src: url("../fonts/Atrament-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Atrament-Bold";
  src: url("../fonts/Atrament-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

textarea,
input:focus,
button {
  outline-color: transparent;
  outline-style: none;
  box-shadow: none !important;
}
html,
body,
body #root,
body #root > div {
  height: 100%;
}
html {
  overflow: hidden;
}
body {
  /* background: #021d32; */
  background: url("../images/bg.jpg") no-repeat scroll top left / cover;
  background-position: top center;
  font-family: "Atrament", Helvetica, Arial, sans-serif;
}
body.dark {
  background: url("../images/sky-bg.jpg") no-repeat scroll top left / cover;
}
::-webkit-scrollbar {
  display: none;
}
.np {
  padding: 0 !important;
}
img {
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
button {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
p:hover {
  cursor: initial;
}

.progress {
  margin: 15px 0 0;
}

.button-shine {
  position: relative;
  text-align: center;
  border: 1px solid #dfc983;
  border-radius: 5px;
  box-shadow: 0 0 0 0 transparent;
  padding: 8px 12px 6px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button-shine:hover {
  cursor: pointer !important;
  color: white;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  -moz-box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.button-shine:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.button-shine:active {
  box-shadow: 0 0 0 0 transparent !important;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.button-shine:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDownSmall {
  animation-name: fadeInDownSmall;
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
.fadeOutRight {
  animation-name: fadeOutRight;
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
.fadeOutUp {
  animation-name: fadeOutUp;
}
@keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translateZ(0);
  }
}
.bounceInUp {
  animation-name: bounceInUp;
}
@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
.bounceInDown {
  animation-name: bounceInDown;
}
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
.bounceOutUp {
  animation-name: bounceOutUp;
}
@keyframes shake {
  0%,
  to {
    transform: translateZ(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}
.shake {
  animation-name: shake;
}
@keyframes neon-blue {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff,
      0 0 5px rgba(34, 141, 255, 0.4), 0 0 7px rgba(34, 141, 255, 0.4),
      0 0 9px rgba(34, 141, 255, 0.4), 0 0 11px rgba(34, 141, 255, 0.4),
      0 0 13px rgba(34, 141, 255, 0.4);
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #228dff,
      0 0 7px #00d1ff, 0 0 9px #00d1ff, 0 0 1px #00d1ff, 0 0 13px #00d1ff;
  }
}
@-moz-keyframes neon-blue {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff,
      0 0 5px rgba(34, 141, 255, 0.4), 0 0 7px rgba(34, 141, 255, 0.4),
      0 0 9px rgba(34, 141, 255, 0.4), 0 0 11px rgba(34, 141, 255, 0.4),
      0 0 13px rgba(34, 141, 255, 0.4);
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #228dff,
      0 0 7px #00d1ff, 0 0 9px #00d1ff, 0 0 1px #00d1ff, 0 0 13px #00d1ff;
  }
}
@-webkit-keyframes neon-blue {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff,
      0 0 5px rgba(34, 141, 255, 0.4), 0 0 7px rgba(34, 141, 255, 0.4),
      0 0 9px rgba(34, 141, 255, 0.4), 0 0 11px rgba(34, 141, 255, 0.4),
      0 0 13px rgba(34, 141, 255, 0.4);
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #228dff,
      0 0 7px #00d1ff, 0 0 9px #00d1ff, 0 0 1px #00d1ff, 0 0 13px #00d1ff;
  }
}
@keyframes neon-green {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff,
      0 0 5px rgba(14, 200, 193, 0.4), 0 0 7px rgba(14, 200, 193, 0.4),
      0 0 9px rgba(14, 200, 193, 0.4), 0 0 11px rgba(14, 200, 193, 0.4),
      0 0 13px rgba(14, 200, 193, 0.4);
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #0ec8c1,
      0 0 5px #0ec8c1, 0 0 6px #0ec8c1, 0 0 7px #0ec8c1, 0 0 8px #0ec8c1;
  }
}
@-moz-keyframes neon-green {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff,
      0 0 5px rgba(14, 200, 193, 0.4), 0 0 7px rgba(14, 200, 193, 0.4),
      0 0 9px rgba(14, 200, 193, 0.4), 0 0 11px rgba(14, 200, 193, 0.4),
      0 0 13px rgba(14, 200, 193, 0.4);
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #0ec8c1,
      0 0 5px #0ec8c1, 0 0 6px #0ec8c1, 0 0 7px #0ec8c1, 0 0 8px #0ec8c1;
  }
}
@-webkit-keyframes neon-green {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff,
      0 0 5px rgba(14, 200, 193, 0.4), 0 0 7px rgba(14, 200, 193, 0.4),
      0 0 9px rgba(14, 200, 193, 0.4), 0 0 11px rgba(14, 200, 193, 0.4),
      0 0 13px rgba(14, 200, 193, 0.4);
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #0ec8c1,
      0 0 5px #0ec8c1, 0 0 6px #0ec8c1, 0 0 7px #0ec8c1, 0 0 8px #0ec8c1;
  }
}
